body {
	font-family: 'Graphik';
	background-color: #EDEDED;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility !important;
	//position: relative;
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: linear-gradient(90deg, #FF0000 10%, #0A00FF 90%);

	position: fixed;
	z-index: 100000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
	//.pace-inner {
	//	display: block;
	//	position: absolute;
	//	right: 0px;
	//	width: 100px;
	//	height: 100%;
	//	box-shadow: 0 0 10px #1884F7, 0 0 5px #1884F7;
	//	opacity: 1.0;
	//	-webkit-transform: rotate(3deg) translate(0px,-4px);
	//	-ms-transform: rotate(3deg) translate(0px,-4px);
	//	transform: rotate(3deg) translate(0px,-4px);
	//}

}

[v-cloack] {
	visibility: hidden;
	display: block;
}

._wrapper {
	width: 100%;
	position: relative;
}

#app-page {
	opacity: 1;
	transition: all 0.2s ease;
	visibility: visible;

	&[data-visible="false"] {
		opacity: 0;
		visibility: hidden;
	}
}

.def-header {
	font-size: 112px;
	line-height: 1;
	letter-spacing: -7px;
	font-weight: 700;
	margin: 0;
}

.def-link {
	text-decoration: none;
}

.page-content-wrapper {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.row {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.col-third {
	width: 33.32%;
	float: left;
	min-height: 10px;
}

// HOMEPAGE

.homepage {

	&__main-header {
		padding-top: 46px;
		padding-left: 26px;
	}

	&__menu {
		margin-top: 280px;
		letter-spacing: -0.3px;
		margin-bottom: 74px;
	}

	&__section-list {
		padding-right: 14px;

		&__top-level {
			text-decoration: none;

			.top-level__icon {
				width: 120px;
				height: 120px;
				border-radius: 50%;
				margin-bottom: 28px;
			}

			.top-level__caption {
				padding-left: 28px;
				color: #000;
				font-weight: 600;
				line-height: 28px;
				height: 56px;
			}

			&:hover {
				color: inherit;
				.top-level__caption {
					color: inherit;
				}
			}
		}

		&__second-level {
			border-top: 1px solid #ddd;
			margin-left: 28px;
			margin-top: 18px;

			.second-level__item {
				color: #000;
				display: block;
				line-height: 1.2;
				padding-top: 7px;

				&:first-child {
					padding-top: 11px;
				}

				&:hover {
					color: inherit;
				}
			}

		}

		&.section-list__editor {
			.top-level__icon {
				background-color: #f00;
			}
		}

		&.section-list__publishing {
			.top-level__icon {
				background-color: #FFD803;
			}
		}

		&.section-list__account {
			.top-level__icon {
				background-color: #0A00FF;
			}
		}
	}

	&__subsidiary-menu {
		height: 70px;
	}

	.subsidiary-menu__single-link {
		padding-left: 28px;
		padding-right: 14px;
		box-sizing: border-box;

		.single-link {
			border-top: 1px solid #ddd;
			display: block;
			line-height: 1.2;
			text-decoration: none;
			color: #000;
			padding-top: 10px;
		}
	}
}

// NAVIGATION

.left-navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 220px;
	height: 100%;
	padding-left: 38px;
	padding-right: 38px;
	font-size: 16px;
	color: #bcbcbc;
	letter-spacing: -0.2px;
	line-height: 1.2;

	._logged_user & {
		top: 32px;
	}

	&__link {
		color: #bcbcbc;
		text-decoration: none;
		display: block;

		&.current, &:hover {
			color: #000;
		}
	}

	.rm-logo {
		width: 130px;
		height: 30px;
		margin-top: 80px;

		svg {width: 100%; height: 100%}
	}

	.rm-guide-backlink {
		margin-top: 42px;
	}

	.page-navigation {
		&__top {
			margin-top: 135px;
			margin-bottom: 23px;
		}

		&__secondary {
			padding-bottom: 9px;
		}
	}
}

// SINGLE PAGE

.page-content {
	width: 760px;
	margin-left: 264px;

	&_narrow {
		width: 700px;
		margin-left: 294px;
	}
}

.single-page {
	padding-bottom: 100px;

	.page-content {
		a {
			text-decoration: none;
			color: #0A00FF;

			&:hover {
				text-decoration: none;
				color: #0A00FF;
			}

			&:visited {
				color: #A000FF;
			}
		}

		p {
			font-weight: 400;
			letter-spacing: -0.6px;
			font-size: 18px;
			line-height: 28px;
			margin: 45px 0 0 0;
		}

		p + p, ul + p, ol + p {
			margin-top: 18px;
		}
		h4 + p {
			margin-top: 0;
		}

		img.page-content__responsive-image,
		video.page-content__responsive-video {
			max-width: 100%;
			border-radius: 6px;
			margin: 45px 0 0 0;
		}

		ul,
		ol {
			//margin-left: -22px;
			margin: 45px 0 0 -22px;
			list-style: none;
			padding: 0;
			letter-spacing: -0.6px;

			li {
				line-height: 28px;
				font-weight: normal;
			}
		}

		p + ol, p + ul, h4 + ol, h4 + ul, ul + ol, ol + ul {
			margin-top: 0;
		}


		ul li::before {
			content: "\002022";
			color: #BCBCBC;
			display: inline-block;
			width: 22px;
		}

		ol li {
			counter-increment: list-order;
		}
		ol li::before {
			content: counter(list-order);
			color: #BCBCBC;
			display: inline-block;
			width: 22px;
		}

		div.card_level_1 {
			padding-bottom: 80px;
		}

		div.card_level_2 {
			margin-top: 150px;
		}

		div.card_level_3 {
			margin-top: 100px;
		}
		div.card_level_2 + div.card_level_3 {
			margin-top: 45px;
		}

		div.card_level_4 {

		}
	}

	&__header-1 {
		font-size: 112px;
		margin: 0 -7px 34px 0;
		padding-top: 118px;
		font-weight: 400;
		letter-spacing: -10.4px;
		line-height: 1;
		min-height: 224px;
	}

	&__header-2 {
		font-size: 40px;
		font-weight: 600;
		letter-spacing: -2px;
		padding-top: 23px;
		border-top: 1px solid #ddd;
		margin: 0 0 45px 0;
	}

	&__header-3 {
		font-size: 40px;
		letter-spacing: -2.2px;
		font-weight: 400;
		margin: 0 0 42px 0;
	}

	&__header-4 {
		font-size: 18px;
		font-weight: 600;
		margin: 50px 0 0 0;
		letter-spacing: -0.4px;
		line-height: 28px;
	}

	&__feature-img {
		width: 100%;
		height: 450px;
		background-color: white;
		border-radius: 6px;
		margin: 47px 0 0 0;
	}

	&__content-navigation {
		display: flex;
		flex-direction: row;
		position: relative;
		margin-left: -20px;
		margin-right: -20px;
		margin-top: 50px;

		&_first-row {
			margin-top: 100px;
		}

		&_last-row {
			margin-bottom: 260px;
		}

		.content-navigation__item {
			display: block;
			flex-grow: 1;
			margin: 0 20px;
			width: 33.32%;
			text-decoration: none;
			color: #000;

			&_icon {
				width: 100%;
				height: 0;
				padding-bottom: 100%;
				border-radius: 6px;
				background-color: white;
			}

			&_caption {
				margin-top: 25px;
				font-weight: 600;
			}
		}
	}

	.def-hint-box {
		//height: 43px;
		border-radius: 6px;
		border: 1px solid #ddd;
		margin: 48px 0 0 0;
		overflow: hidden;

		&_transitions {
			transition: height 0.2s ease;
			transition-delay: 0.1s;
		}


		&__toggle {
			line-height: 43px;
			color: #bcbcbc;
			letter-spacing: -0.4px;
			padding: 0 40px;
			cursor: pointer;
			position: relative;
			transition: color 0.2s ease;

			.toggle-icon {
				height: 10px;
				width: 10px;
				position: absolute;
				left: 15px;
				top: 16px;
				overflow: hidden;
				contain: strict;
			}

			&:hover {
				color: #000;
			}
		}

		&__content {
			display: block;
			visibility: hidden;
			opacity: 0;
			padding: 6px 40px 50px 40px;
			transition: all 0.2s ease;

			p:first-child,ul:first-child,ol:first-child {
				margin-top: 0;
			}
		}

		&.show {
			transition-delay: 0s;
			.def-hint-box__content {
				display: block;
				visibility: visible;
				opacity: 1;
				transition-delay: 0.2s;
			}
			.def-hint-box__toggle .toggle-icon {
				transform: rotate(180deg);
			}
		}
	}
}

// SEARCH

.toggle-results-enter-active, .toggle-results-leave-active {
	transition: opacity .2s ease;
}
.toggle-results-enter, .toggle-results-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

@keyframes placeHolderShimmer{
	0%{
		background-position: -468px 0
	}
	100%{
		background-position: 468px 0
	}
}

.animated-background {
	animation-duration: 1.4s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	position: relative;
}

.search-component {
	position: fixed;
	top: 23px;
	transition: all 0.2s ease;
	opacity: 1;
	visibility: visible;
	z-index: 9999;


	.query-input-wrapper {
		display: block;
		position: relative;
		z-index: 10;

		background: white;
		height: 60px;
		border-radius: 30px;
		width: 100%;
	}

	&[v-cloack] {
		opacity: 0;
		visibility: hidden;
	}

	._logged_user & {
		top: 55px;
	}

	&_home  {
		position: absolute;
		top: 300px;
	}

	._logged_user &_home {
		top: 332px;
	}

	&__query-input {
		background: transparent;
		border-radius: 30px;
		display: block;
		height: 60px;
		line-height: 60px;
		font-size: 16px;
		width: 100%;
		outline: none;
		padding: 1px 172px 0 30px;
		box-sizing: border-box;
		color: #1884F7;
		border: 1px solid #ededed;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #ccc;
			opacity: 1;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: #ccc;
			opacity: 1;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: #ccc;
			opacity: 1;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: #ccc;
			opacity: 1;
		}
	}

	&__submit {
		position: absolute;
		top: 0;
		right: 0;
		height: 60px;
		width: 112px;
		line-height: 60px;
		border-radius: 30px;
		background-color: #ccc;
		color: white;
		font-size: 16px;
		border: none;
		z-index: 11;
		outline: none;

		&.active {
			//background: linear-gradient(60deg, #ff0000 8%,#ff3702,#fe6e03,#fea405,#fed906 45%,#fed906 50%,#B8F786,#77C1BE,#0055ff 85%);
			background: linear-gradient(90deg, #FF0000 10%, #0A00FF 90%);
		}
	}

	&__clear {
		position: absolute;
		right: 112px;
		top: 0;
		width: 60px;
		height: 60px;
		padding: 19px 0 0 17px;
		box-sizing: border-box;
		cursor: pointer;
		z-index: 11;

		.clear-button {
			width: 22px;
			height: 22px;
			border-radius: 50%;
			background-color: #EDEDED;
			padding: 6px 0 0 6px;
			box-sizing: border-box;

			&:hover {
				background-color: #FFD803;

				.clear-button-cross g {
					stroke: black !important;
				}
			}

			.clear-button-cross {
				display: block;
			}
		}
	}

	&__backdrop {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		background: rgba(237,237,237,0.8);
	}

	&__results {
		position: absolute;
		top: 59px;
		left: 0;
		width: 100%;
		border-radius: 30px;
		min-height: 60px;
		background: white;
		overflow: hidden;
		border: 1px solid #ededed;
		z-index: 1;

		&-scroll-wrapper {
			width: 100%;
			height: auto;

			&.active-scroll {
				position: absolute;
				top: 0;
				left: 0;
				box-sizing: content-box;
				padding-right: 20px;
				overflow: auto;
			}
		}

		&-data-wrapper {
			width: 100%;
			height: auto;
		}

		.scroll-bar {
			position: absolute;
			width: 4px;
			border-radius: 2px;
			background: #e2e2e2;
			right: 4px;
			opacity: 0.5;
			z-index: 9999;
		}
	}

	&__result-item {
		padding: 0px 30px;
		line-height: 28px;
		text-decoration: none;
		display: block;
		color: black;
		font-size: 16px;

		.inactive & {
			opacity: 0.3;
		}

		.result-item__nav {
			border-top: 1px solid #EDEDED;
			padding-top: 18px;
			opacity: 0.4;
		}

		strong {font-weight: normal; color: #1884F7}

		.result-item__excerpt {
			padding-bottom: 18px;

			p,div,img {font-size: 16px; margin: 0; padding: 0; display: inline}
		}

		&:first-child {
			.result-item__nav {border-color: transparent}
		}

		&.item:hover {
			background-color: #1884F7;
			color: white;

			.result-item__nav { color: white; border-color: transparent; }
			.result-item__excerpt strong { color: white; }
		}

		&.empty {
			padding-top: 13px;
			padding-bottom: 13px;

			.query {
				color: #1884F7;
			}
		}

		&.empty.contact {
			background-color: #1884F7;
			color: white;
		}

		&.hint {
			background-color: #FFD803;
			a,a:hover,a:focus,a:visited {color: #0A00FF;text-decoration: none;outline:none}
		}

		&.waiting {
			padding-top: 18px;
			padding-bottom: 18px;

			.fake-line-loader {
				height: 14px;
				margin: 14px 0;
				background-color: #ededed;
				overflow: hidden;
				border-radius: 7px;

				&:after {
					content: '';
					display: block;
					width: 450px;
					height: 100%;
					.animated-background
				}

				&.break {
					margin-top: 32px;
				}
			}
		}
	}
	a:hover + a { .result-item__nav { border-color: transparent; } }
}

