@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 400;
	src: 	url('graphic_n4-webfont.woff2') format('woff2'),
	url('graphic_n4-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 600;
	src: 	url('graphic_n6-webfont.woff2') format('woff2'),
	url('graphic_n6-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 700;
	src: 	url('graphic_n7-webfont.woff2') format('woff2'),
	url('graphic_n7-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 300;
	src: 	url('roboto_mono_light.woff2') format('woff2'),
	url('roboto_mono_light.woff') format('woff');
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: normal;
	src: 	url('roboto_mono_regular.woff2') format('woff2'),
	url('roboto_mono_regular.woff') format('woff');
}